    /* Eric Meyer's CSS Reset */
    
    * {
        margin: 0;
        padding: 0;
    }
    
    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    u,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */
    html {
        height: 100%;
    }

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }
    
    body {
        line-height: 1;
        font-family: 'Roboto Slab', sans-serif;
    }
    
    ol,
    ul {
        list-style: none;
    }
    
    blockquote,
    q {
        quotes: none;
    }
    
    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }
    
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    /* End of Eric Meyer's CSS Reset */
    
    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    main,
    nav,
    section,
    summary {
        display: block;
    }
    
    body {
        font: 12px/18px Arial, sans-serif;
        background-color: #fff;
    }
    
    a {
        text-decoration: none;
    }
    /*@media only screen and (min-width: 1919px) {*/
    
    .wrapper {
        margin-right: auto;
        /* 1 */
        margin-left: auto;
        /* 1 */
        /*max-width: 1370px;*/
        width: 78%;
    }
    /*    }*/
    /*    @media only screen and (min-width: 1599px) {*/
    /*    .wrapper {*/
    /*        margin-right: auto;*/
    /*        !* 1 *!*/
    /*        margin-left: auto;*/
    /*        !* 1 *!*/
    /*        max-width: 1200px;*/
    /*    }*/
    /*}*/
    /*        @media only screen and (min-width: 767px) {*/
    /*    .wrapper {*/
    /*        margin-right: auto;*/
    /*        !* 1 *!*/
    /*        margin-left: auto;*/
    /*        !* 1 *!*/
    /*        max-width: 900px;*/
    /*    }*/
    /*}*/
    
    .content {
        height: calc(100% - 350px);
        font-family: 'Roboto Slab', sans-serif;
    }
    
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Roboto Slab', sans-serif;
    }
    /* Header
-----------------------------------------------------------------------------*/

    .navbar {
        display: flex;
        margin-bottom: 30px;
        max-height: 110px;
    }
    
    .navbar_item {
        width: calc(100%/8);
        text-align: center;
    }
    
    .navbar_item:nth-child(odd) .navbar_item_block {
        z-index: 2;
        box-shadow: 0 0 12px 5px rgba(122, 122, 122, 0.5)
    }
    
    .navbar_item:first-child .navbar_item_block {
        padding-top: 25px;
        background-color: #fed877;
        z-index: 3;
    }
    
    .navbar_item:nth-child(2) .navbar_item_block {
        padding-top: 40px;
        background-color: #82d8e5;
    }
    
    .navbar_item:nth-child(3) .navbar_item_block {
        padding-top: 55px;
        background-color: #66b4e2;
    }
    
    .navbar_item:nth-child(4) .navbar_item_block {
        padding-top: 43px;
        background-color: #fed877;
    }
    
    .navbar_item:nth-child(5) .navbar_item_block {
        padding-top: 78px;
        background-color: #82d8e5;
    }
    
    .navbar_item:nth-child(6) .navbar_item_block {
        padding-top: 39px;
        background-color: #66b4e2;
    }
    
    .navbar_item:nth-child(7) .navbar_item_block {
        display: flex;
        flex-direction: column;
        padding-top: 60px;
        background-color: #fed877;
    }
    
    .navbar_item:nth-child(8) .navbar_item_block {
        padding-top: 25px;
        z-index: 3;
        background-color: #66b4e2;
    }
    
    .navbar_item_block.active {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
    }
    
    .navbar_item_block {
        display: flex;
        position: relative;
        justify-content: center;
        padding: 30px 0 10px;
        font-size: 22px;
        color: #3d3d3d;
        line-height: 1;
        box-shadow: 0 0 12px 5px rgba(122, 122, 122, 0.5)
    }

    button.navbar_item_link {
        outline: none;
        border: 0;
        background: transparent;
        font-size: 22px;
        cursor: pointer;
        color: #3d3d3d;
        font-weight: 400;
    }
    
    a.navbar_item_block:hover span {
        padding-top: 15px;
    }
    
    .navbar_item_link {
        transition: 0.5s ease;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 400;
        letter-spacing: 0.5px;
    }

    .navbar_item_login {
        margin-bottom: 25px;
    }

    .navbar_item_block:hover form {
        margin-top: 15px;
    }
    
    .navbar_form {
        transition: 0.5s ease;
    }
    
    .navbar_item_logo, .navbar_item_mainlogo {
        width: 50%;
        display: block;
    }

    img.navbar_item_mainlogo {
        width: 60%;
    }

    .navbar_authorization {
        margin: 45px 0 100px;
    }

    .authorization_label {
        display: flex;
        float: right;
        padding-right: 15px;
        font-size: 16px;
    }

    .authorization_name {
        font-weight: 600;
        padding-left: 5px;
    }
    /* Base 
-----------------------------------------------------------------------------*/
    
    select {
        background: transparent;
        border: 2px solid;
        line-height: 1;
        padding-left: 5px;
    }
    
    .headline_content {
        width: 100%;
        border-bottom: 3px solid #faecc5;
        margin-bottom: 25px;
    }
    
    .headline_content_title {
        position: relative;
        display: inline-block;
        font-size: 30px;
        background: #faecc5;
        padding: 15px 45px 9px 10px;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 500;
        letter-spacing: 0.5px;
        border-bottom: 2px solid #faecc5;
    }
    
    .headline_content_title::after {
        content: '';
        display: block;
        border-bottom: 42px solid #faecc5;
        border-right: 30px solid transparent;
        background: #fff;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    .dividing_line {
        height: 2px;
        color: #578a8a;
        background-color: #578a8a;
        margin: 0 0 15px 0;
    }
    /* Main Page
-----------------------------------------------------------------------------------------------------------*/
    
    .rating_scientist {
        margin: 40px 0 50px;
    }

    .rating_scientist_graph {
        position: relative;
    }

    .rating_scientist_graph>canvas {
        height: 90%;
        position: absolute;
        bottom: 0;
    }

    h3.rating_scientist_title {
        font-size: 30px;
        font-weight: bold;
        text-align: center;
        margin-bottom: 40px;
        line-height: 1;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 400;
    }
    
    .rating_scientist_nav_list {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        list-style-type: none;
    }
    
    .rating_scientist_nav_list_item, .rating_scientist_nav_list_item_h {
        padding: 5px 0 0;
        border-radius: 8px 8px 0 0;
        background: #b3c9d6;
        z-index: 2;
        margin: 0 1px;
    }
    
    .rating_scientist_nav_list_item.active, .rating_scientist_nav_list_item_h.active {
        background: #d8e9f1;
        z-index: 3;
    }
    
    .rating_scientist_nav_list_link, .rating_scientist_nav_list_link_h {
        padding: 5px 40px 5px;
        text-decoration: none;
        font-size: 18px;
        color: #000;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 400;
    }
    
    .rating_scientist_block {
        position: relative;
        height: 518px;
        margin-bottom: 50px;
    }
    
    .rating_scientist_container, .rating_scientist_container_h {
        width: calc(100% - 80px);
        opacity: 0;
        box-shadow: 0 3px 15px 0px rgba(122, 122, 122, 0.5);
        background: #d8e9f1;
        -webkit-transition: 1s ease;
        -o-transition: 1s ease;
        transition: 1s ease;
        position: absolute;
        padding: 40px;
        top: 0;
        display: flex;
        justify-content: space-between;
    }
    
    .rating_scientist_container.active, .rating_scientist_container_h.active {
        opacity: 1;
        z-index: 2;
    }
    
    .rating_scientist_graph {
        width: 68%;
    }
    
    .rating_scientist_top_block {
        width: 30%;
    }
    
    .rating_scientist_top_list {
        font-size: 18px;
        border-left: 3px solid #6b99b3;
        width: 100%;
        padding-left: 20px;
        height: 97%;
    }
    
    .rating_scientist_top_list_item {
        padding: 13px 0;
    }
    
    .rating_scientist_top_list_link {
        color: #000;
        width: 100%;
        padding: 10px 0;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 400;
    }
    
    .about_us_block_title {
        font-size: 24px;
        padding: 7px 10px;
        background-color: #b4dcdc;
        position: relative;
        display: inline-block;
        margin: 10px 0 25px;
        line-height: 1;
    }
    
    .about_us_block_title::after {
        content: "";
        height: 0;
        width: 0;
        right: -15px;
        top: 0;
        position: absolute;
        border-top: 16px solid transparent;
        border-left: 15px solid #b4dcdc;
        border-bottom: 22px solid transparent;
    }
    
    p.about_us_info {
        font-size: 18px;
        color: #000;
        line-height: 30px;
        font-weight: 300;
    }
    /* Search
-----------------------------------------------------------------------------------------------------------*/
    
    .search_block {
        margin-bottom: 10px;
    }
    
    .search_form {
        width: 100%;
    }
    
    .search_item {
        height: 35px;
        color: #639999;
        border-radius: 3px;
        font-size: 18px;
        vertical-align: middle;
        outline: none;
    }
    
    select#id_select {
        width: 180px;
        margin-right: 12px;
        float: left;
        height: 35px;
        color: #639999;
        border-radius: 3px;
        font-size: 18px;
        vertical-align: middle;
        outline: none;

    }
    
    .select_item:hover {
        border: 0;
        outline: none;
        background-color: #639999;
    }
    
    .select_item {
        padding: 3px 0;
        border: 0;
        outline: none;
    }

    .update_button_block {
        text-align: end;
        margin: 10px 0;
    }
    
    input::-webkit-search-decoration,
    input::-webkit-search-cancel-button,
    input::-webkit-search-results-button,
    input::-webkit-search-results-decoration {
        color: red;
    }
    
    .search_field {
        border: 2px solid;
        height: 35px;
        padding: 0 6px;
        width: calc(100% - 240px);
    }
    
    .button_icon {
        background-position: center;
        background-repeat: no-repeat;
        border: 0;
    }
    
    .search_button_submit {
        background-color: #578a8a;
        background-image: url(../assets/icons/search.svg);
        width: 35px;
        background-size: 20px;
        display: table-cell;
        float: right;
        cursor: pointer;
    }
    
    .search_button_submit:hover {
        opacity: 0.9;
    }
    
    .search_button_plus {
        background-color: #578a8a;
        background-image: url(../assets/icons/plus.svg);
        height: 20px;
        width: 21px;
        background-size: 18px;
        z-index: 1;
        position: relative;
        right: 34px;
        border-radius: 15px;
        cursor: pointer;
    }
    
    .search_button_plus:hover {
        opacity: 0.8;
    }
    
    .search_constructor {
        font-size: 15px;
        color: darkgray;
        margin-bottom: 5px;
    }
    
    .search_filter_block {
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    
    .filter_form {
        width: 50%;
    }
    
    .filter_select {
        width: 235px;
        margin-left: 8px;
        float: right;
    }
    
    .filter_result_counter {
        font-size: 15px;
        color: darkgray;
        width: 50%;
        font-style: italic;
    }
    /* Card
-----------------------------------------------------------------------------------------------------------*/
    
    .profile_card {
        margin: 5px 0 50px 0;
        box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.2);
        display: flex;
        position: relative;
    }
    
    .profile_card_main_layer {
        width: 100%;
    }
    
    .profile_card_opacity_layer {
        height: 100%;
        width: 23%;
        background: #fff;
        opacity: 0.43;
        right: 0;
        position: absolute;
        z-index: 2;
    }
    
    .profile_card_opacity_layer:before {
        content: "";
        height: 0;
        width: 0;
        position: absolute;
        left: -40px;
        top: 0;
        opacity: 1.3;
        border-top: 115px solid transparent;
        border-right: 40px solid #fff;
        border-bottom: 115px solid transparent;
        z-index: 2;
    }
    
    .profile_card_header {
        background-color: #bee7ed;
        font-size: 24px;
        padding-top: 5px;
        width: 100%;
        z-index: 1;
        letter-spacing: 1px;
    }
    
    .profile_card_title {
        line-height: 1;
        padding-left: 8px;
        padding-bottom: 5px;
        color: #000;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 400;
    }
    
    .profile_card_title_en {
        padding-left: 8px;
        padding-bottom: 5px;
        color: #73959e;
        line-height: 1;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 400;
    }
    
    .profile_card_info {
        display: flex;
        background-color: #ebf6fc;
        width: 100%;
        justify-content: space-between;
    }
    
    .profile_card_info_main {
        padding-left: 10px;
        width: 70%;
        height: auto;
        z-index: 3;
    }
    
    .profile_card_info_scientific {
        position: relative;
        z-index: 3;
    }
    
    .profile_card_info_list {
        font-size: 17px;
        font-weight: 300;
    }
    
    .profile_card_info_list_item {
        display: flex;
        margin: 5.5px 0;
        position: relative;
    }
    
    .profile_card_info_list_item_title {
        color: #8a8f93;
        padding-right: 5px;
    }
    
    .profile_card_info_list_item_data {
        color: black;
    }

    p.profile_card_info_list_item_data {
        overflow: hidden;
        white-space: nowrap;
    }
    
    .profile_card_info_scientific .profile_card_info_list_item:first-child {
        left: -15px;
    }
    
    .profile_card_info_scientific .profile_card_info_list_item:nth-child(2) {
        left: -20px;
    }
    
    .profile_card_info_scientific .profile_card_info_list_item:nth-child(3) {
        left: -25px;
    }
    
    .profile_card_info_scientific .profile_card_info_list_item:nth-child(4) {
        left: -20px;
    }
    
    .profile_card_info_scientific .profile_card_info_list_item:nth-child(5) {
        left: -15px;
    }
    
    .profile_card_info_scientific .profile_card_info_list_item:nth-child(6) {
        left: -10px;
    }
    /* Pagination */
    
    .pagination {
        width: auto;
        margin: 0 auto
    }
    
    .pagination,
    .pagination__link {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center
    }
    
    .pagination__link {
        position: relative;
        left: -1px;
        top: 1px;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transition: all .2s ease-in-out;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        color: #66b4e2;
    }
    
    @media only screen and (max-width: 767px) {
        .pagination__link {
            font-size: 15px
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .pagination a.pagination__link:hover {
            background: rgba(102, 88, 175, .15)
        }
    }
    
    .pagination__item {
        transition: all .2s ease-in-out;
        width: 38px;
        height: 38px;
        border-radius: 50%;
        z-index: 1;
        position: relative;
        margin: 0 2px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
        flex-flow: row wrap;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center
    }
    
    @media only screen and (max-width: 767px) {
        .pagination__item {
            margin: 0 2px;
            width: 33px;
            height: 33px
        }
    }
    
    .pagination__item:first-child {
        margin-left: 0
    }
    
    .pagination__item:last-child {
        margin-right: 0
    }
    
    @media only screen and (max-width: 1023px) {
        .pagination__item:nth-child(3),
        .pagination__item:nth-child(9) {
            display: none
        }
    }
    
    @media only screen and (min-width: 1025px) {
        .pagination__item.active:hover .pagination__link {
            color: #fff;
            background: #66b4e2;
        }
    }
    
    .pagination__item.active .pagination__link {
        color: #fff;
        background: #66b4e2;
    }
    
    .pagination__item--dots .pagination__link {
        color: #7ebedc;
    }
    /* --/Pagination */
    /* Profile
-----------------------------------------------------------------------------*/
    
    .profile_header {
        display: flex;
        margin: 25px 0 0px;
        justify-content: space-between;
    }
    
    .profile_date_update,
    .profile_header_code {
        color: #8a8f93;
        font-size: 15px;
        display: flex;
        padding: 10px 0;
    }
    
    .profile_update_button {
        color: #fff;
        font-size: 20px;
        background-color: #578a8a;
        background-size: 20px;
        padding: 10px 15px;
        float: right;
        cursor: pointer;
        border: 0px;
        border-radius: 5px;
        margin-top: 15px;
        box-shadow: 1px 2px 4px 1px rgba(122, 122, 122, 0.5);
    } 

    .profile_update_button:hover {
        background: #80bebe;
        box-shadow: 0 0 3px 3px #efefef;
    }

    .profile_date_update_data,
    .profile_header_code_id {
        padding-left: 5px;
    }
    
    .profile_header_title {
        font-size: 30px;
        width: 70%;
    }
    
    .profile_header_name,
    .profile_header_name_en {
        padding: 10px 0 10px;
        font-family: 'Roboto Slab', sans-serif;
        letter-spacing: 1px;
    }
    
    .profile_header_name,
    .profile_info_item_title {
        color: #000;
    }
    
    .profile_header_name_en,
    .profile_info_item_title {
        color: #8a8f93;
    }
    
    .profile_info_item_title {
        padding-right: 10px;
    }
    
    .profile_main_info {
        margin: 5px 0 15px;
        font-weight: 300;
    }
    
    .profile_main_info_list {
        font-size: 19px;
    }
    
    .profile_info_item {
        padding: 8px 0 8px;
        display: flex;
    }

    p.profile_info_item_data a {
        color: #2d5050;
    }
    
    .profile_scientific_info_block {
        font-size: 18px;
    }
    
    .profile_scientific_info_indicators {
        margin: 10px 0 40px;
        display: flex;
        justify-content: space-between;
    }
    
    .profile_scientific_info_link {
        color: #2d5050;
        font-style: italic;
    }
    
    .profile_scientific_info_link:hover {
        color: #578a8a;
    }
    
    .profile_scientific_info_chart {
        display: flex;
        justify-content: space-between;
        margin: 10px 0 50px;
    }
    
    .profile_scientific_info_chart_block {
        width: 45%;
    }
    
    .profile_scientific_info_chart_title {
        text-align: center;
        font-size: 20px;
        margin-bottom: 15px;
    }
    
    .profile_scientific_info_chart_area {
        width: 100%;
        /* height: 350px; */
    }
    
    .profile_publication_info {
        margin: 10px 0 100px;
    }
    
    .profile_publication_info_block {
        margin: 10px 0 30px;
        font-size: 16px;
        line-height: 1.4;
    }
    
    .profile_publication_info_block p {
        margin-bottom: 10px;
    }
    
    .profile_publication_info_title {
        text-align: center;
        font-size: 28px;
        line-height: 1;
        margin-bottom: 15px;
        width: 100%;
        border-bottom: 2px solid #578a8a;
        padding-bottom: 15px;
        font-weight: 500;
        line-height: 1;
    }
    
    .profile_publication_info_block_title {
        font-size: 22px;
        padding: 7px 10px;
        background-color: #b4dcdc;
        position: relative;
        display: inline-block;
        margin: 10px 0 25px;
        line-height: 1;
    }
    
    .profile_publication_info_block_title::after {
        content: "";
        height: 0;
        width: 0;
        right: -15px;
        top: 0;
        position: absolute;
        border-top: 16px solid transparent;
        border-left: 15px solid #b4dcdc;
        border-bottom: 20px solid transparent;
    }
    
    .profile_publication_info_item, .profile_publication_info p span {
        font-size: 16px;
        color: #000;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 300;
        padding-left: 15px;
        padding-bottom: 5px;
    }
    /* Report page
-----------------------------------------------------------------------------*/
    
    .report_block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 150px;
    }
    
    p.report_information_paragraph {
        margin: 0 0 10px;
    }
    
    .report_information_block {
        width: 45%;
        line-height: 1.5;
        font-size: 20px;
        color: #000;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 300;
        display: grid;
        justify-content: space-between;
    }
    
    li.report_information_list_item {
        padding: 1px 0 1px 10px;
    }
    
    .report_example {
        width: 47%;
    }
    
    .report_document_background {
        margin-right: 8px;
        height: auto;
        box-shadow: 0 0 13px 0px rgba(122, 122, 122, 0.5);
        border: 4px solid #6b99b3;
        border-radius: 2px;
    }
    
    .report_document_example {
        height: 100%;
        width: 100%;
    }
    
    .main_button_block {
        text-align: center;
        margin-top: auto;
    }
    
    button.main_button {
        color: #fff;
        background-color: #578a8a;
        inline-size: initial;
        padding: 10px 15px;
        background-size: 20px;
        text-align: center;
        cursor: pointer;
        border: 0px;
        border-radius: 5px;
        box-shadow: 0 0 10px 1px rgba(122, 122, 122, 0.5);
        margin: 20px 5px 20px;
    }

    button.update_scientists {
        margin: 0;
        padding: 6px 15px;
    }

    button.main_button:hover {
        background: #80bebe;
        color: white;
        box-shadow: 0 0 3px 3px #efefef;
    }
    
    a.functional_link {
        font-size: 20px;
        color: #fff;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 300;
        text-decoration: none;
        height: 100%;
        width: 100%;
    }
    /* Information page
-----------------------------------------------------------------------------*/
    
    .information_video_information {
        margin: 25px 0;
    }
    
    p.information_paragraph {
        font-size: 18px;
        line-height: 1.5;
        font-weight: 300;
        text-align: justify;
    }
    
    .information_video_block {
        width: 60%;
        height: 450px;
        margin: 30px auto 30px auto;
    }
    
    .information_list_block {
        width: 80%;
        display: flex;
        justify-content: space-around;
    }
    
    ul.information_list {
        font-size: 18px;
        margin: 20px 0 0;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 300;
        padding-left: 20px;
    }
    
    li.information_list_item {
        padding: 4px 0;
    }
    
    iframe.information_video {
        border: 1px solid;
    }
    
    .information_video {
        width: 100%;
        height: 100%;
    }
    
    .information_block_title {
        font-size: 24px;
        padding: 7px 10px;
        background-color: #b4dcdc;
        position: relative;
        display: inline-block;
        margin: 10px 0 25px;
        line-height: 1;
    }
    
    .information_block_title::after {
        content: "";
        height: 0;
        width: 0;
        right: -15px;
        top: 0;
        position: absolute;
        border-top: 16px solid transparent;
        border-left: 15px solid #b4dcdc;
        border-bottom: 22px solid transparent;
    }
    /* Footer
-----------------------------------------------------------------------------*/

    .page_wrap:after {
        content: "";
        display: block;
    }

     .page_wrap:after{
        height: 60px;
    }

    .page_wrap{
        min-height: 74.66%;
        margin-bottom: 80px;
    }


    .footer {
        background: #96c7e5;
        border: 2px solid #6b99b3;
        /*margin-top: 123px;*/
        bottom: 0;
        font-family: 'Roboto Slab', sans-serif;
    }
    
    .footer_block {
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 20px 0 0;
    }
    
    .footer_nav_block {
        display: flex;
        justify-content: space-between;
    }
    
    .footer_nav_logo_block {
        width: 18%;
        margin-top: auto;
        margin-bottom: auto;
    }
    
    .footer_nav_main,
    .footer_nav_social_network {
        display: flex;
        justify-content: space-between;
    }
    
    .footer_nav_main {
        /* border-bottom: 2px solid #6b99b3; */
        padding-bottom: 10px;
    }
    
    .footer_nav_social_network {
        padding-top: 10px;
    }
    
    .footer_nav_main_logo {
        height: 60px;
        width: auto;
    }
    
    .footer_nav_social_network_logo {
        height: 32px;
        width: auto;
    }
    
    h6.footer_nav_title {
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 15px;
        letter-spacing: 0.5px;
    }
    
    ul.footer_nav_list {
        font-size: 16px;
    }
    
    li.footer_nav_item {
        padding: 3px 0;
    }
    
    a.footer_nav_menu_link {
        color: #416262;
        font-family: 'Roboto Slab', sans-serif;
        font-weight: 400;
    }
    
    a.footer_nav_menu_link:hover {
        color: #597777;
    }

    .footer_nav_contact {
        color: #353535;
    }

    .contact_data:hover {
        color: #597777;
    }
    
    .footer_nav_contact_logo {
        height: 15px;
        width: auto;
        margin-right: 5px;
        vertical-align: middle;
    }
    
    .dividing_line_footer {
        height: 2px;
        background-color: #6b99b3;
        border: 0;
        margin: 8px 0 8px 0;
    }
    
    .footer_copyright {
        display: flex;
        justify-content: space-between;
        padding: 0 0 10px;
    }
    
    .footer_copyright_text {
        margin-top: auto;
        margin-bottom: auto;
        font-size: 13px;
        color: #1d1f21;
        outline: none;
    }
    
    .footer_copyright_logo {
        height: 30px;
        width: auto;
    }

    /* Login
-----------------------------------------------------------------------------*/

    .form_login {
        font-family: 'Roboto Slab', sans-serif;
        display: block;
        width: 70%;
    }

    ul.errorlist.nonfield {
        background: #ffc967;
        border: 1px solid #b36b6b;
        padding: 18px;
        color: #353535;
        font-weight: 400;
        font-size: 17px;
        width: 100%;
    }

    .form_login p label {
        font-size: 15px;
        padding: 7px 0;
        width: 140px;
    }

    .form_login p:first-child {
        margin-top: 60px;
    }

    .form_login p {
        margin-top: 25px;
        display: flex;
        width: 45%;
        justify-content: space-between;
    }

    .form_login p input {
        border: 2px solid;
        height: 25px;
        padding: 0 6px;
        color: #215c5c;
        border-radius: 3px;
        outline: none;
        font-size: 16px;
        width: 215px;
    }

    .login_button_block {
        width: 45%;
        justify-content: end;
        display: grid;
        margin: 20px -10px;
    }

    .login_button {
        font-size: 17px;
        margin-left: auto;
        margin-right: 0;
    }

     /*-------------------- Media Queries --------------------*/

    @media screen and (max-width:1025px) {
        .navbar_item_logo, .navbar_item_mainlogo {
            width: 55%;
        }

        img.navbar_item_mainlogo {
            width: 75%;
        }

        .navbar_item_block {
            font-size: 16px;
        }

        .authorization_label {
            font-size: 14px;
        }

        .navbar_authorization {
            margin-bottom: 70px;
        }

        .headline_content_title {
            font-size: 22px;
        }

        h3.rating_scientist_title {
            font-size: 20px;
        }

        .rating_scientist_nav_list_link, .rating_scientist_nav_list_link_h {
            font-size: 16px;
        }

        .rating_scientist_top_list_item {
            padding: 5px 0;
        }

        .rating_scientist_top_list_link {
            font-size: 13px;
        }

        .rating_scientist_block {
            height: 490px;
        }

        .about_us_block_title {
            font-size: 20px;
        }

        p.about_us_info {
            font-size: 15px;
        }

        .profile_card_header {
            font-size: 21px;
        }

        .profile_card_info_list {
            font-size: 14px;
        }

        h6.footer_nav_title {
            font-size: 15px;
        }

        ul.footer_nav_list {
            font-size: 13px;
        }

        .footer_nav_main_logo {
            height: 40px;
        }

        .footer_nav_social_network_logo {
            height: 24px;
        }

        .footer_copyright_text {
            font-size: 9px;
        }

        .search_item {
            font-size: 14px;
        }

        select#id_select {
            font-size: 14px;
        }

        .filter_result_counter {
            font-size: 12px;
        }

        .profile_header_title {
            font-size: 22px;
        }

        .profile_header_name, .profile_header_name_en {
            padding:8px 0 ;
        }

        .profile_date_update, .profile_header_code {
            font-size: 12px;
        }

        .profile_main_info_list {
            font-size: 15px;
        }

        .profile_scientific_info_block {
            font-size: 15px;
        }

        .profile_publication_info_title {
            font-size: 22px;
        }

        .profile_publication_info_block_title {
            font-size: 18px;
        }

        .profile_publication_info_item {
            font-size: 15px;
        }

        p.information_paragraph {
            font-size: 15px;
        }

        .information_block_title {
            font-size: 18px;
        }

        .form_login p, .login_button_block {
            width: 72%;
        }

        button.main_button {
            font-size: 15px;
        }

        .report_information {
            font-size: 15px;
        }

        a.report_export_link {
            font-size: 16px;
        }
    }
    @media screen and (min-width:1026px) and (max-width:1150px) {
        .navbar_item_logo, .navbar_item_mainlogo {
            width: 60%;
        }

        img.navbar_item_mainlogo {
            width: 78%;
        }

        .navbar_item_block {
            font-size: 17px;
        }

        .authorization_label {
            font-size: 15px;
        }

        .navbar_authorization {
            margin-bottom: 80px;
        }

        .headline_content_title {
            font-size: 23px;
        }

        h3.rating_scientist_title {
            font-size: 22px;
        }

        .rating_scientist_nav_list_link, .rating_scientist_nav_list_link_h {
            font-size: 17px;
        }

        .rating_scientist_top_list_item {
            padding: 6px 0;
        }

        .rating_scientist_top_list_link {
            font-size: 13px;
        }

        .rating_scientist_block {
            height: 490px;
        }

        .about_us_block_title {
            font-size: 22px;
        }

        p.about_us_info {
            font-size: 16px;
        }

        .profile_card_header {
            font-size: 22px;
        }

        .profile_card_info_list {
            font-size: 14px;
        }

        h6.footer_nav_title {
            font-size: 16px;
        }

        ul.footer_nav_list {
            font-size: 14px;
        }

        .footer_nav_main_logo {
            height: 42px;
        }

        .footer_nav_social_network_logo {
            height: 26px;
        }

        .footer_copyright_text {
            font-size: 10px;
        }

        .search_item {
            font-size: 15px;
        }

        select#id_select {
            font-size: 15px;
        }

        .filter_result_counter {
            font-size: 13px;
        }

        .profile_header_title {
            font-size: 23px;
        }

        .profile_header_name, .profile_header_name_en {
            padding:8px 0 ;
        }

        .profile_date_update, .profile_header_code {
            font-size: 13px;
        }

        .profile_main_info_list {
            font-size: 16px;
        }

        .profile_scientific_info_block {
            font-size: 16px;
        }

        .profile_publication_info_title {
            font-size: 23px;
        }

        .profile_publication_info_block_title {
            font-size: 20px;
        }

        p.information_paragraph {
            font-size: 16px;
        }

        .information_block_title {
            font-size: 20px;
        }

        .form_login p, .login_button_block {
            width: 72%;
        }

        button.main_button {
            font-size: 16px;
        }

        .report_information {
            font-size: 16px;
        }

        a.report_export_link {
            font-size: 17px;
        }
    }
    @media screen and (min-width:1151px) and (max-width:1280px) {
        .navbar_item_logo, .navbar_item_mainlogo {
            width: 60%;
        }

        img.navbar_item_mainlogo {
            width: 82%;
        }

        .navbar_item_block {
            font-size: 18px;
        }

        .authorization_label {
            font-size: 15px;
        }

        .navbar_authorization {
            margin-bottom: 95px;
        }

        .headline_content_title {
            font-size: 24px;
        }

        h3.rating_scientist_title {
            font-size: 23px;
        }

        .rating_scientist_nav_list_link, .rating_scientist_nav_list_link_h {
            font-size: 17px;
        }

        .rating_scientist_top_list_item {
            padding: 8px 0;
        }

        .rating_scientist_top_list_link {
            font-size: 15px;
        }

        .rating_scientist_block {
            height: 520px;
        }

        .about_us_block_title {
            font-size: 23px;
        }

        p.about_us_info {
            font-size: 17px;
        }

        .profile_card_header {
            font-size: 23px;
        }

        .profile_card_info_list {
            font-size: 15px;
        }

        h6.footer_nav_title {
            font-size: 17px;
        }

        ul.footer_nav_list {
            font-size: 15px;
        }

        .footer_nav_main_logo {
            height: 46px;
        }

        .footer_nav_social_network_logo {
            height: 28px;
        }

        .footer_copyright_text {
            font-size: 11px;
        }

        .search_item {
            font-size: 16px;
        }

        select#id_select {
            font-size: 16px;
        }

        .filter_result_counter {
            font-size: 14px;
        }

        .profile_header_title {
            font-size: 23px;
        }

        .profile_header_name, .profile_header_name_en {
            padding:9px 0 ;
        }

        .profile_date_update, .profile_header_code {
            font-size: 14px;
        }

        .profile_main_info_list {
            font-size: 17px;
        }

        .profile_scientific_info_block {
            font-size: 17px;
        }

        .profile_publication_info_title {
            font-size: 24px;
        }

        .profile_publication_info_block_title {
            font-size: 22px;
        }

        p.information_paragraph {
            font-size: 17px;
        }

        .information_block_title {
            font-size: 21px;
        }

        .form_login p, .login_button_block {
            width: 72%;
        }

        button.main_button {
            font-size: 17px;
        }

        .report_information {
            font-size: 17px;
        }

        a.report_export_link {
            font-size: 18px;
        }
    }
    @media screen and (min-width:1281px) and (max-width:1390px) {
        /*.wrapper {*/
        /*    max-width: 1050px;*/
        /*}*/

        .navbar_item_logo, .navbar_item_mainlogo {
            width: 60%;
        }

        img.navbar_item_mainlogo {
            width: 80%;
        }

        .navbar_item_block {
            font-size: 19px
        }

        .headline_content_title {
            font-size: 24px;
        }

        h3.rating_scientist_title {
            font-size: 24px;
        }

        .rating_scientist_nav_list_link, .rating_scientist_nav_list_link_h {
            font-size: 16px;
        }

        .rating_scientist_top_list_link {
            font-size: 16px;
        }

        .rating_scientist_block {
            height: 580px;
        }

        p.about_us_info {
            font-size: 16px;
        }

        .profile_card_header {
            font-size: 21px;
        }

        .profile_card_info_list {
            font-size: 14px;
        }

        h6.footer_nav_title {
            font-size: 16px;
        }

        ul.footer_nav_list {
            font-size: 14px;
        }

        .footer_nav_main_logo {
            height: 50px;
        }

        .footer_nav_social_network_logo {
            height: 26px;
        }

        .footer_copyright_text {
            font-size: 11px;
        }

        .search_item {
            font-size: 16px;
        }

        select#id_select {
            font-size: 16px;
        }

        .filter_result_counter {
            font-size: 13px;
        }

        .profile_header_title {
            font-size: 26px;
        }

        .profile_date_update, .profile_header_code {
            font-size: 13px;
        }

        .profile_main_info_list {
            font-size: 17px;
        }

        .profile_scientific_info_block {
            font-size: 16px;
        }

        p.information_paragraph {
            font-size: 16px;
        }

        .information_block_title {
            font-size: 22px;
        }

        .form_login p, .login_button_block {
            width: 52%;
        }

        button.main_button {
            font-size: 15px;
        }

        .report_information {
            font-size: 15px;
        }

        a.report_export_link {
            font-size: 16px;
        }
    }
    @media screen and (min-width:1391px) and (max-width:1540px) {
        /*.wrapper {*/
        /*    max-width: 1160px;*/
        /*}*/

        .navbar_item_logo, .navbar_item_mainlogo {
            width: 60%;
        }

        img.navbar_item_mainlogo {
            width: 82%;
        }

        .navbar_item_block {
            font-size: 20px
        }

        .headline_content_title {
            font-size: 28px;
        }

        h3.rating_scientist_title {
            font-size: 26px;
        }
        .rating_scientist_block {
            height: 590px;
        }

        .rating_scientist_nav_list_link, .rating_scientist_nav_list_link_h {
            font-size: 17px;
        }

        .rating_scientist_top_list_link {
            font-size: 17px;
        }

        p.about_us_info {
            font-size: 17px;
        }

        .profile_card_header {
            font-size: 21px;
        }

        .profile_card_info_list {
            font-size: 17px;
        }

        h6.footer_nav_title {
            font-size: 18px;
        }

        ul.footer_nav_list {
            font-size: 16px;
        }

        .footer_nav_main_logo {
            height: 54px;
        }

        .footer_nav_social_network_logo {
            height: 30px;
        }

        .footer_copyright_text {
            font-size: 13px;
        }

        .search_item {
            font-size: 17px;
        }

        select#id_select {
            font-size: 17px;
        }

        .filter_result_counter {
            font-size: 14px;
        }

        .profile_header_title {
            font-size: 27px;
        }

        .profile_date_update, .profile_header_code {
            font-size: 15px;
        }

        .profile_main_info_list {
            font-size: 19px;
        }

        .profile_scientific_info_block {
            font-size: 19px;
        }

        p.information_paragraph {
            font-size: 18px;
        }

        .information_block_title {
            font-size: 24px;
        }

        .form_login p, .login_button_block {
            width: 55%;
        }

        button.main_button {
            font-size: 18px;
        }

        .report_information {
            font-size: 18px;
        }

        a.report_export_link {
            font-size: 19px;
        }

    }
    @media screen and (min-width:1541px) and (max-width:1680px) {
        /*.wrapper {*/
        /*    max-width: 1160px;*/
        /*}*/

        .navbar_item_logo, .navbar_item_mainlogo {
            width: 60%;
        }

        img.navbar_item_mainlogo {
            width: 82%;
        }

        .navbar_item_block {
            font-size: 22px
        }

        .headline_content_title {
            font-size: 30px;
        }

        h3.rating_scientist_title {
            font-size: 28px;
        }
        .rating_scientist_block {
            height: 590px;
        }

        .rating_scientist_nav_list_link, .rating_scientist_nav_list_link_h {
            font-size: 19px;
        }

        .rating_scientist_top_list_link {
            font-size: 18px;
        }

        .rating_scientist_top_list_item {
            padding: 14px 0;
        }

        p.about_us_info {
            font-size: 18px;
        }

        .profile_card_header {
            font-size: 23px;
        }

        .profile_card_info_list {
            font-size: 18px;
        }

        li.profile_card_info_list_item {
            height: 20px;
        }

        h6.footer_nav_title {
            font-size: 20px;
        }

        ul.footer_nav_list {
            font-size: 17px;
        }

        .footer_nav_main_logo {
            height: 56px;
        }

        .footer_nav_social_network_logo {
            height: 32px;
        }

        .footer_copyright_text {
            font-size: 14px;
        }

        .search_item {
            font-size: 18px;
        }

        select#id_select {
            font-size: 18px;
        }

        .filter_result_counter {
            font-size: 15px;
        }

        .profile_header_title {
            font-size: 28px;
        }

        .profile_date_update, .profile_header_code {
            font-size: 16px;
        }

        .profile_main_info_list {
            font-size: 20px;
        }

        .profile_scientific_info_block {
            font-size: 20px;
        }

        .profile_publication_info_block_title {
            font-size: 24px;
        }

        p.profile_publication_info_item {
            font-size: 18px;
        }

        p.information_paragraph {
            font-size: 19px;
        }

        .information_block_title {
            font-size: 26px;
        }

        .form_login p, .login_button_block {
            width: 55%;
        }

        button.main_button {
            font-size: 19px;
        }

        .report_information {
            font-size: 19px;
        }

        a.report_export_link {
            font-size: 20px;
        }

    }
    @media screen and (min-width:1681px) and (max-width:1800px) {
        /*.wrapper {*/
        /*    max-width: 1160px;*/
        /*}*/

        .navbar_item_logo, .navbar_item_mainlogo {
            width: 60%;
        }

        img.navbar_item_mainlogo {
            width: 82%;
        }

        .navbar_item_block {
            font-size: 24px
        }

        .headline_content_title {
            font-size: 32px;
        }

        h3.rating_scientist_title {
            font-size: 30px;
        }
        .rating_scientist_block {
            height: 650px;
        }

        .rating_scientist_nav_list_link, .rating_scientist_nav_list_link_h {
            font-size: 20px;
        }

        .rating_scientist_top_list_link {
            font-size: 20px;
        }

        .rating_scientist_top_list_item {
            padding: 14px 0;
        }

        p.about_us_info {
            font-size: 19px;
        }

        .profile_card_header {
            font-size: 24px;
        }

        .profile_card_info_list {
            font-size: 19px;
        }

        li.profile_card_info_list_item {
            height: 20px;
        }

        h6.footer_nav_title {
            font-size: 20px;
        }

        ul.footer_nav_list {
            font-size: 17px;
        }

        .footer_nav_main_logo {
            height: 56px;
        }

        .footer_nav_social_network_logo {
            height: 32px;
        }

        .footer_copyright_text {
            font-size: 14px;
        }

        .search_item {
            font-size: 18px;
        }

        select#id_select {
            font-size: 18px;
        }

        .filter_result_counter {
            font-size: 15px;
        }

        .profile_header_title {
            font-size: 28px;
        }

        .profile_date_update, .profile_header_code {
            font-size: 16px;
        }

        .profile_main_info_list {
            font-size: 20px;
        }

        .profile_scientific_info_block {
            font-size: 20px;
        }

        .profile_publication_info_block_title {
            font-size: 24px;
        }

        p.profile_publication_info_item {
            font-size: 19px;
        }

        p.information_paragraph {
            font-size: 19px;
        }

        .information_block_title {
            font-size: 26px;
        }

        .form_login p, .login_button_block {
            width: 45%;
        }

        button.main_button {
            font-size: 19px;
        }

        .report_information {
            font-size: 19px;
        }

        a.report_export_link {
            font-size: 20px;
        }

    }
    @media screen and (min-width:1801px) and (max-width:1920px) {
        /*.wrapper {*/
        /*    max-width: 1160px;*/
        /*}*/

        .navbar_item_logo, .navbar_item_mainlogo {
            width: 60%;
        }

        img.navbar_item_mainlogo {
            width: 82%;
        }

        .navbar_item_block {
            font-size: 24px
        }

        .headline_content_title {
            font-size: 32px;
        }

        h3.rating_scientist_title {
            font-size: 31px;
        }
        .rating_scientist_block {
            height: 650px;
        }

        .rating_scientist_nav_list_link, .rating_scientist_nav_list_link_h {
            font-size: 22px;
        }

        .rating_scientist_top_list_link {
            font-size: 22px;
        }

        .rating_scientist_top_list_item {
            padding: 15px 0;
        }

        p.about_us_info {
            font-size: 20px;
        }

        .profile_card_header {
            font-size: 25px;
        }

        .profile_card_info_list {
            font-size: 20px;
        }

        li.profile_card_info_list_item {
            height: 22px;
        }

        h6.footer_nav_title {
            font-size: 22px;
        }

        ul.footer_nav_list {
            font-size: 18px;
        }

        .footer_nav_main_logo {
            height: 58px;
        }

        .footer_nav_social_network_logo {
            height: 34px;
        }

        .footer_copyright_text {
            font-size: 15px;
        }

        .search_item {
            font-size: 20px;
        }

        select#id_select {
            font-size: 20px;
        }

        .filter_result_counter {
            font-size: 16px;
        }

        .profile_header_title {
            font-size: 30px;
        }

        p.profile_info_item_data, li.profile_info_item {
            line-height: 24px;
        }

        .profile_date_update, .profile_header_code {
            font-size: 17px;
        }

        .profile_main_info_list {
            font-size: 22px;
        }

        .profile_scientific_info_block {
            font-size: 22px;
        }

        .profile_publication_info_block_title {
            font-size: 26px;
        }

        p.profile_publication_info_item {
            font-size: 20px;
        }

        p.information_paragraph {
            font-size: 20px;
        }

        .information_block_title {
            font-size: 26px;
        }

        .form_login p, .login_button_block {
            width: 45%;
        }

        .form_login {
            margin-bottom: 57px;
        }

        button.main_button {
            font-size: 20px;
        }

        .report_information {
            font-size: 21px;
        }

        a.report_export_link {
            font-size: 22px;
        }

    }