{% block footer %} {% load static%}

<footer class="footer">
    <div class="footer_block">
        <div class="footer_nav_block">
            <div class="footer_nav_logo_block">
                <div class="footer_nav_main">
                    <a href="https://onaft.edu.ua/" target="_blank_" class="footer_nav_main_logo_link">
                        <img src="{% static 'assets/icons/onaft_logo.png' %}" alt="ONAFT logo" class="footer_nav_main_logo">
                    </a>
                    <a href="https://library.onaft.edu.ua/" target="_blank_" class="footer_nav_main_logo_link">
                        <img src="{% static 'assets/icons/lib_logo.png' %}" alt="NTB logo" class="footer_nav_main_logo">
                    </a>
                    <a href="https://kci.onaft.edu.ua/uk/" target="_blank_" class="footer_nav_main_logo_link">
                        <img src="{% static 'assets/icons/censci_logo.png' %}" alt="CenSci logo" class="footer_nav_main_logo">
                    </a>
                </div>
                <div class="footer_nav_social_network">
                    <a href="https://www.facebook.com/CenSciONAFT" target="_blank_" class="footer_nav_social_network_logo_link">
                        <img src="{% static 'assets/icons/facebook.svg' %}" alt="facebook logo" class="footer_nav_social_network_logo">
                    </a>
                    <a href="https://twitter.com/libonaft" target="_blank_" class="footer_nav_social_network_logo_link">
                        <img src="{% static 'assets/icons/twitter.svg' %}" alt="twitter logo" class="footer_nav_social_network_logo">
                    </a>
                    <a href="https://www.instagram.com/need2know.onaft/" target="_blank_" class="footer_nav_social_network_logo_link">
                        <img src="{% static 'assets/icons/instagram.svg' %}" alt="instagram logo" class="footer_nav_social_network_logo">
                    </a>
                    <a href="https://www.youtube.com/channel/UC4n9Z-5en90CRlSmgmgSmbQ" target="_blank_" class="footer_nav_social_network_logo_link">
                        <img src="{% static 'assets/icons/youtube.svg' %}" alt="youtube logo" class="footer_nav_social_network_logo">
                    </a>
                </div>
            </div>
            <div class="footer_nav_menu">
                <h6 class="footer_nav_title">Меню</h6>
                <ul class="footer_nav_menu_list footer_nav_list">
                    <li class="footer_nav_item">
                        <a href="/" class="footer_nav_menu_link">Головна</a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="/scientists" class="footer_nav_menu_link">Пошук</a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="/report" class="footer_nav_menu_link">Звіти</a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="/information" class="footer_nav_menu_link">Довідка</a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="{% url 'login'%}" class="footer_nav_menu_link">Авторизація</a>
                    </li>
                </ul>
            </div>
            <div class="footer_nav_useful_block">
                <h6 class="footer_nav_title">Користні посилання</h6>
                <ul class="footer_nav_list">
                    <li class="footer_nav_item">
                        <a href="https://kci.onaft.edu.ua/uk/pages/indexing" target="_blank_" class="footer_nav_menu_link">Наукові бази</a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="https://4ref.onaft.edu.ua" target="_blank_" class="footer_nav_menu_link">ONAFT4ref</a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="https://need2know.onaft.edu.ua/" target="_blank_" class="footer_nav_menu_link">Need2Know</a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="https://webofknowledge.com" target="_blank_" class="footer_nav_menu_link">Web of Science</a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="https://www.scopus.com/" target="_blank_" class="footer_nav_menu_link">Scopus</a>
                    </li>
                </ul>
            </div>
            <div class="footer_nav_contact_info">
                <h6 class="footer_nav_title">Контактна інформація</h6>
                <ul class="footer_nav_list">
                    <li class="footer_nav_item">
                        <p class="footer_nav_contact">Україна, 65039,</p>
                    </li>
                    <li class="footer_nav_item">
                        <p class="footer_nav_contact">м. Одеса, вул. Канатна, 112</p>
                    </li>
                    <li class="footer_nav_item">
                        <a href="tel:+38(048)712‐41‐88" class="footer_nav_contact"><img src="{% static 'assets/icons/phone.svg' %}" alt="phone" class="footer_nav_contact_logo"> +38(048)712‐41‐88</a>
                    </li>
                    <li class="footer_nav_item">
                        <a href="mailto:index@onaft.edu.ua" class="footer_nav_contact"><img src="{% static 'assets/icons/mail.svg' %}" alt="mail" class="footer_nav_contact_logo"> index@onaft.edu.ua</a>
                    </li>
                </ul>
            </div>
        </div>
        <hr class="dividing_line_footer">
        <div class="footer_copyright">
            <div class="footer_copyright_text">
                <p>Created by Oleksandr Shershun, Zhanna Titurenko <a class="footer_copyright_text" href="{% url 'admin:index'%}">©</a> ONAFTLibrary, {% now 'Y' %}. All rights reserved. </p>
            </div>
            <img src="{% static 'assets/icons/s2m_logo.png' %}" class="footer_copyright_logo">
        </div>
    </div>
</footer>

{% endblock %}