{% block header %} {% load static%}
<header class="header">
    <div class="navbar">
        <div class="navbar_item">
            <a href="/" class="navbar_item_block">
                <img src="{% static '/assets/icons/s2m_logo.png' %}" class="navbar_item_mainlogo">
            </a>
        </div>
        <div class="navbar_item">
            <a href="/" class="navbar_item_block">
                <span class="navbar_item_link">Головна</span>
            </a>
        </div>
        <div class="navbar_item">
            <a href="/scientists" class="navbar_item_block">
                <span class="navbar_item_link">Пошук</span>
            </a>
        </div>
        <div class="navbar_item">
            <a href="/report" class="navbar_item_block">
                {% if user.is_authenticated %}
                    <span class="navbar_item_link">Звіти</span>
                {% else %}
                    <style type="text/css">
                        .navbar_item:nth-child(4) .navbar_item_block {
                            padding-top: 65px;
                        }
                    </style>
                    <span class="navbar_item_link"></span>
                {% endif %}
            </a>
        </div>
        <div class="navbar_item">
            <div class="navbar_item_block">
                <span class="navbar_item_link"></span>
            </div>
        </div>
        <div class="navbar_item">
            <a href="/information" class="navbar_item_block">
                <span class="navbar_item_link">Довідка</span>
            </a>
        </div>
        <div class="navbar_item">
            {% if user.is_authenticated %}
                <a href="{% url 'logout'%}" class="navbar_item_block">
                    <span class="navbar_item_link">Вийти</span>
                </a>
            {% else %}
                <a href="{% url 'login'%}" class="navbar_item_block">
                    <span class="navbar_item_link">Авторизація</span>
                </a>
            {% endif %}
        </div>
        <div class="navbar_item">
            <a href="https://library.ontu.edu.ua" target="_blank" class="navbar_item_block">
                <img src="{% static 'assets/icons/lib_logo.png' %}" class="navbar_item_logo">
            </a>
        </div>
    </div>
    <div class="navbar_authorization">
            {% if user.is_authenticated %}
                <div class="authorization_label">
                    <i>Ви війшли як</i>
                    <b class="authorization_name">
                        {% if user.first_name %}
                            <div class="navbar_item_login">{{ user.first_name }} {{user.last_name}}</div>
                        {% else %}
                            <div class="navbar_item_login">{{ user.username }}</div>
                        {% endif %}
                    </b>
                </div>
            {% endif %}
    </div>
</header>

{% endblock %}
