{% extends "base.html" %}{% block title %} Довідка {% endblock %} {% block headtitle %} Довідка {% endblock %} {% block content %}
<div class="information_block">
    <p class="information_paragraph">
        Метою даного проєкту є зручна і технологічна платформа для професорсько-викладацького складу ОНТУ, яка буде зберігати список всіх наукових робіт і буде пов'язана з усіма сучасними сервісами надають розрахунок наукометричних показників. Це забезпечить
        підняття рівня оцінки наукової діяльності співробітників уныверситету. Додаток буде здатний зберігати всю необхідну інформацію про співробітників, список і повну інформацію (метадані) про наукові роботи дослідників, а також відображати їх цитування
        на підставі індексу Хірша.
    </p>
    <br>
    <p class="information_paragraph">Створення звітної документації є ключовим аспектом діяльності сучасного закладу вищої освіти. Важливою функцією є можливість генерації звітної документації затвердженої формі Міністерством освіти та науки України та національним агентством забезпечення
        якості вищої освіти України. Примітка: якщо працівник не є головою структурного підрозділу, та в нього немає даних авторизації, він не може роботи звіти.</p>
    <br>
    <p class="information_paragraph">Наукометричні показники можна отримати за допомогою запитів та використання таких ідентифікаторів, як: DOI, ORCID, Scopus ID, Publons (колишній Researcher ID). До функцій складової ресурсу відносяться можливості оформлення/створення профілів ПВС ОНТУ
        за такими даними: </p>
    <div class="information_list_block">
        <ul class="information_list">
            <li class="information_list_item">
                - ПІБ (українською та англійською);
            </li>
            <li class="information_list_item">
                - код вченого у ресурсі S2M;
            </li>
            <li class="information_list_item">
                - інститут;
            </li>
            <li class="information_list_item">
                - факультет;
            </li>
            <li class="information_list_item">
                - кафедра;
            </li>
            <li class="information_list_item">
                - посада;
            </li>
            <li class="information_list_item">
                - ступінь;
            </li>
            <li class="information_list_item">
                - звання;
            </li>
            <li class="information_list_item">
                - спеціальність;
            </li>
            <li class="information_list_item">
                - e-mail;
            </li>
            <li class="information_list_item">
                - стан;
            </li>
        </ul>
        <ul class="information_list">
            <li class="information_list_item">
                - ORCID;
            </li>
            <li class="information_list_item">
                - Google Scholar;
            </li>
            <li class="information_list_item">
                - h-index Google Scholar;
            </li>
            <li class="information_list_item">
                - кількість публікацій у Google Scholar;
            </li>
            <li class="information_list_item">
                - Publons;
            </li>
            <li class="information_list_item">
                - h-index Web of Science;
            </li>
            <li class="information_list_item">
                - кількість публікацій у Web of Science;
            </li>
            <li class="information_list_item">
                - Scopus ID;
            </li>
            <li class="information_list_item">
                - h-index Scopus;
            </li>
            <li class="information_list_item">
                - кількість публікацій у Scopus;
            </li>
            <li class="information_list_item">
                - перелік публікацій у Web of Science, Scopus та Google Scholar.
            </li>
        </ul>
    </div>
    <div class="information_video_information">
        <h4 class="information_block_title">Реєстрація профілю в ORCID</h4>
        <p class="information_paragraph">Відео присвячено створенню профіля на ресурсі ORCID, розглянуто питання важливості створення даного профіля та його вплив на представленість наукових публікацій та самого науковця у веб мережі. Приділено увагу заповненню всіх блоків у профіля
            та впливу наявної в них інформації.</p>
        <div class="information_video_block">
            <iframe class="information_video" src="https://www.youtube.com/embed/FxEocyTTP7o" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <hr class="dividing_line ">
    </div>
    <div class="information_video_information">
        <h4 class="information_block_title">Реєстрація профілю у Google Scholar</h4>
        <p class="information_paragraph">Відео присвячено створенню профіля на ресурсі Google Scholar, способам додавання інформації про науковця, розглянуто питання автоматизованого додавання публікацій, як групу робіт та по одній роботі. Визначено ключові особливості коректного заповнення
            профіля і його вплив на діяльність науковця.</p>
        <div class="information_video_block">
            <iframe class="information_video" src="https://www.youtube.com/embed/L9nEzFk53F0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <hr class="dividing_line ">
    </div>
    <div class="information_video_information">
        <h4 class="information_block_title">Поновлення публикацій</h4>
        <p class="information_paragraph">Відео присвячено модерації даних на ресурсах ORCID та Publons, а саме оновленню інформації щодо опублікованих статей. Поміж іншим в відео розглянуто шляхи додавання публікацій у зазначені профілі. Також окремо приділяється увага питанню синхронізації
            двох ресурсів між собою.</p>
        <div class="information_video_block">
            <iframe class="information_video" src="https://www.youtube.com/embed/FnIJIFZVRAo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}