{% extends "base.html" %}{% block title %} Звіти {% endblock %} {% block headtitle %} Звіти {% endblock %} {% block content %}
    {% load static%}
<div class="report_block">
    <div class="report_information_block">
        <div class="report_information">
            <p class="report_information_paragraph">Табліця 3 та Табліця 4. Річний звіт про виконання критеріїв.<br> Включає такі дані: </p>
            <li class="report_information_list_item">
                Факультет (Інститут);
            </li>
            <li class="report_information_list_item">
                Кафедра, відділ тощо;
            </li>
            <li class="report_information_list_item">
                Прізвище, ім'я, по батькові наукового, науково-педагогічного працівника.
            </li>
            <li class="report_information_list_item">
                ID Scopus (за наявності).
            </li>
            <li class="report_information_list_item">
                Індекс Гірша Scopus.
            </li>
            <li class="report_information_list_item">
                Кількість публікацій Scopus.
            </li>
            <li class="report_information_list_item">
                ID Web of Science.
            </li>
            <li class="report_information_list_item">
                Індекс Гірша Web of Science.
            </li>
            <li class="report_information_list_item">
                Кількість публікацій WoS.
            </li>
            <li class="report_information_list_item">
                Публікації Web of Science.
            </li>
            <li class="report_information_list_item">
                Публікації Scopus.
            </li>
        </div>
        <div class="main_button_block">
            <a href="{% url 'export_xlsx' %}" class="report_export_link">
                <button class="main_button">
                    Експорт
                </button>
            </a>
            <a href="{% url 'naukometria_xlsx' %}" class="report_export_link">
                <button class="main_button">
                    Наукометрія
                </button>
            </a>
        </div>
    </div>
    <div class="report_example">
        <div class="report_document_background">
            <img class="report_document_example" src="{% static 'assets/Document_table_3.jpg' %}">
        </div>
    </div>
</div>
<!-- 
<a href="/export">Експорт</a>
<a href="/export_xls">Експорт xls</a> -->
{% endblock %}